.cabecera__navIngr{
   display: flex;
   justify-content: center;
}

.navbar{
   font-weight: bold;
}


.navbar:hover{
   box-shadow: 0 0 25px rgb(0, 0, 0);
   animation: fondo 1s both;
}

@keyframes fondo {
   50%{
      background-color: rgba(255, 255, 255, 0.151);
   }

   100%{
      background-color: rgba(0, 255, 64, 0.514);
   }

}


.cabecera__avatar{
   height: 2rem;
   width: 2rem;
   margin: 0.3rem;
}

.Info{
   background-color: rgb(153, 255, 0);
   border: green 0.5rem double;
   margin: 4rem;
}

h2{
   font-size: 4.1rem;
   /* text-align: center; */
   padding: 3rem;
}

.Info h2{
   text-decoration: underline;
}

.saga h2{
    background-image: repeating-radial-gradient(GreenYellow, LimeGreen 10%, LawnGreen 15%);
    font-family: Papyrus,fantasy;
    border: outset green 1rem;
}



.gridConteinerSaga{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 0.2rem 1fr;
   grid-template-areas:
   "title title"
   "parrafo parrafo"
}

.saga__flex {
   display: flex;
}

.saga__flex p{
   padding: 4rem;
}


.buttonUp{
    border: 2px solid green;
    color: greenyellow;
    border-radius: 40%;
    padding: 1.2rem;
    font-size: 2rem;
    background-color: white;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}




/* -----> Segundo HTML <-------- */
/* -----> Segundo HTML <-------- */
/* -----> Segundo HTML <-------- */




.pag2{
   background: rgb(138,255,0);
   background: radial-gradient(circle, rgba(138,255,0,1) 0%, rgba(0,255,0,0.7707457983193278) 45%, rgba(152,255,152,1) 100%);
}

.navbar2{
   font-weight: bold;
   border: 1px black solid;
   padding: 1rem;
   height: 70%;
}

.headerPag2{
   display: flex;
   justify-content: space-around;
}

.navbar2:hover{
   box-shadow: 0 0 25px rgb(0, 0, 0);
   animation: fondo2 1s both;
}

@keyframes fondo2 {
   50%{
      background-color: rgba(255, 255, 255, 0.151);
   }
   100%{
      background-color: rgb(159,255,0,1);
   }
}

.pjs h3{
   display: none;
}

.pjs {
   width: 90%;
   margin: auto;
}

.pjs__liImg ul li{
   padding: 1.7rem;
   font-size: 1.7rem;
   font-weight: bold;
   list-style-type: circle;
}

.carousel-item {
   background-attachment:fixed;
   background-repeat: repeat;
   background-position: center;
   border: solid 0.31rem black;
}

.descripcion{
   margin: 2rem;
   background-color: #ffffffa9;
   border: 0.2rem solid black;
}

.img1 {
   background-image: url(../Imagenes/Shrek.png);
}

.img2 {
   background-image: url(../Imagenes/Fiona.png);
}

.img3 {
   background-image: url(../Imagenes/Burro.png);
}

.img4{
   background-image: url(../Imagenes/Gato.png);
}

.img5{
   background-image: url(../Imagenes/Harold.png);
}


.conteiner .carousel-controls{
   position: absolute;
   left: 50%;
   bottom: 5px;
   z-index: 1;
   transform: translateX(-50%);
}

.conteiner .carousel-indicators{
   position: relative;
}


.conteiner .carousel-indicators button{
   width: 27px;
   height: 17px;
   border-radius: 50%;
}

.carousel-control-prev, .carousel-control-next{
   height: 2.5rem;
   width: 2.5rem;
   font-size: 3rem;
   border-radius: 50%;
   transition: all 0.3s ease;
   opacity: 50;
   color: black;
}

.carousel-control-prev:hover, .carousel-control-next:hover{
   box-shadow: 0 0 15px #385300;
   color: yellow;
}

.carousel-control-prev{
   left: -30px;
}

.carousel-control-next{
   right: -30px;
}



/* @media screen and (max-width: 992px){


   .Info h2{
      display: none;
   }

   .cabecera__navIngr{
      display: flex;
      justify-content: space-between;
      padding: 2%;
   } 

    .cabecera__ingreso a{
      background-color: transparent;
      border: none;
      color: green;
   } 

    .cabecera__ingreso{
      display: flex;
      margin-left: 0;
      margin-right: 0;
      padding: 0rem;
      border: none;
   } 

    .cabecera__ingreso img{
      display: none;
   } 


   .navbar li{
      border-bottom: black solid 1px;
   } 

   .nav-link:hover{
      animation: none;
   }

   .navbar:hover{
      box-shadow: none;
      animation: none;
   } 

   cabecera__imagenes img{
    width: 40%;
   }

   .saga iframe{
    display: none;
   }

   .saga__Shrek{
    padding: 0;
    margin: 0.5rem;
    border: none;
    border-radius: 10%;
    box-shadow: 1rem 2rem 2rem 0 black;
    margin-bottom: 2rem;
    margin-top: 1rem;
   }

  .buttonUp{
    display: none;
   } */




/* -----> Segundo HTML <-------- */
/* -----> Segundo HTML <-------- */
/* -----> Segundo HTML <-------- */



/*   .pag2 h1{
    display: none;
   }

  .headerPag2{
    display: flex;
    justify-content: start;
   }

   .navbar2{
    width: 100%;
    height: 100%;
    border: none;
   }

   .pjs h3{
    display: flex;
    text-decoration: underline;
    justify-content: center;
    padding: 5%;
   } 

   .pjs__liImg{
    width: 100%;
   }

  .pjs__liImg ul{
    display: none;
   } 
} */