@import './parciales/aux';
@import './parciales/variables';
@import './parciales/maps';
@import './parciales/mixin';


%centerText{
  text-align: center;
}

%centerItems{
  display: flex;
  align-items: center;
}

%fondoDegrade{
  background: $colorFondoSaga;
  background: linear-gradient(180deg,nth($coloresDegrade, 1) 0%, nth($coloresDegrade, 2) 30%,nth($coloresDegrade, 3) 90%, nth($coloresDegrade, 1) 100%);
}


*{
  margin: 0;
  padding: 0;
}

ul li:hover ul {
  display:block;
}


header{
  @extend %fondoDegrade;
  background-position: right;
  background-repeat: no-repeat;
}

.cabecera__ingreso {
   display: flex;
   @include margenes(map-get($size, dos), map-get($size, dos));
   padding: map-get($size, medio);
   border: 0.2rem inset rgb(206,230,30);
   border-radius: map-get($size, medio);

  a{
      background-color: rgb(255, 255, 0);
      border: 0.15rem solid black;
      border-radius: 20%;
  }
}

.cabecera__navIngr{
  display: flex;
  justify-content: center;
}

.cabecera__avatar{
  @include altoAncho(map-get($size, dos), map-get($size, dos));
  // height: 2rem;
  // width: 2rem;
  margin: 0.3rem;
}

.navbar{
  font-weight: bold;
}

.Info{
  background-color: rgb(153, 255, 0);
  border: green 0.5rem double;
  margin: 4rem;

  h2{
    text-decoration: underline;
    padding: 3rem;
    @extend %centerText;
  }

  p{
    font-weight: 450;
  }
}

h1{
  font-size: 3rem;
  font-family: 'Indie Flower', Papyrus,fantasy;
  text-decoration: underline;
  @extend %centerText;
}


.saga{
  @extend %fondoDegrade;

  h1{
    background-image: repeating-radial-gradient(GreenYellow, LimeGreen 10%, LawnGreen 15%);
    border: outset green 1rem;
    padding: 3rem;
  }
}



.saga__Shrek {
    padding: map-get($size, tres);
    border: LimeGreen groove 2rem;
    margin: map-get($size, tres);

    h3{
      @extend %centerText;
      grid-area: title;
      text-decoration: underline;
    }
}

.saga__flex {
  display: flex;
  p{
    padding: 4rem;
  }
}


.gridConteinerSaga{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2rem 1fr;
  grid-template-areas:
  "title title"
  "parrafo parrafo"
}

.gridItemSaga{
  display: flex;
  grid-area: parrafo;

  p{
    display: flex;
    @extend %centerItems;
    padding: 4rem;
  }
}

.pjs__liImg{
  @extend %centerItems;

  ul li{
   padding: 1.7rem;
   font-size: 1.7rem;
   font-weight: bold;
   list-style-type: circle;
  }
}
 
.contenedor{

   background: nth($coloresDegrade, 2);
   background: linear-gradient(180deg, nth($coloresDegrade,1) 0%, rgba(152,255,152,1) 50%);

  ul {
    @extend %centerText;
    list-style: none;
  }

  ul a{
    color: black;
  }
}



.buttonUp{
  border: 2px solid green;
  color: greenyellow;
  border-radius: 40%;
  padding: 1.2rem;
  font-size: 2rem;
  background-color: white;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}




/* -----> Segundo HTML <-------- */
/* -----> Segundo HTML <-------- */
/* -----> Segundo HTML <-------- */



.pag2{
  background: rgb(138,255,0);
  background: radial-gradient(circle, rgba(138,255,0,1) 0%, rgba(0,255,0,0.7707457983193278) 45%, rgba(152,255,152,1) 100%);
}

.navbar2{
  font-weight: bold;
  border: 1px black solid;
  padding: 1rem;
  height: 70%;
}

.headerPag2{
  display: flex;
  justify-content: space-around;
}

.pjs {
   width: 90%;
   margin: auto;

   h3{
    display: none;
   }

}

.imagenesCarousel{
  background-color: $colorFondoImagenes;
}

.img1 {
  background-image: url(../Imagenes/Shrek.png);
}

.img2 {
  background-image: url(../Imagenes/Fiona.png);
}

.img3 {
  background-image: url(../Imagenes/Burro.png);
}

.img4{
  background-image: url(../Imagenes/Gato.png);
}

.img5{
  background-image: url(../Imagenes/Harold.png);
}


.conteiner{
  .carousel-indicators{
    position: relative;

    button{
      @include altoAncho(17px, 27px);
      border-radius: 50%;
    }

    .boton0{
      background-color: map-get($randomColors , color1);
    }

    .boton1{
      background-color: map-get($randomColors , color2);
    }

    .boton2{
      background-color: map-get($randomColors , color3);
    }

    .boton3{
      background-color: map-get($randomColors , color4);
    }

    .boton4{
      background-color: map-get($randomColors , color5);
    }
  }
  .carousel-controls{
    position: absolute;
    left: 50%;
    bottom: 5px;
    z-index: 1;
    transform: translateX(-50%);
 }
}


.carousel-control-prev, .carousel-control-next{
  @include altoAncho(map-get($size, dos5), map-get($size, dos5));
  // height: 2.5rem;
  // width: 2.5rem;
  font-size: 3rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 50;
  color: black;
}

.carousel-item {
  background-attachment:fixed;
  background-repeat: repeat;
  background-position: center;
  border: solid 0.31rem black;
}

.descripcion{
  margin: 2rem;
  background-color: #ffffffa9;
  border: 0.2rem solid black;
}


@import './parciales/mediaQuery';