.pjs__liImg{
    @extend %centerItems;
  
    ul li{
     padding: 1.7rem;
     font-size: 1.7rem;
     font-weight: bold;
     list-style-type: circle;
    }
  }

  .imagenesCarousel{
    background-color: $colorFondoImagenes;
  }
  
  .img1 {
    background-image: url(../Imagenes/Shrek.png);
  }
  
  .img2 {
    background-image: url(../Imagenes/Fiona.png);
  }
  
  .img3 {
    background-image: url(../Imagenes/Burro.png);
  }
  
  .img4{
    background-image: url(../Imagenes/Gato.png);
  }
  
  .img5{
    background-image: url(../Imagenes/Harold.png);
  }
  
  .img6{
    background-image: url(../Imagenes/Rumpel.png);
  }
  
  .img7{
    background-image: url(../Imagenes/Dragona.png);
  }
  
  
  .conteiner{
    .carousel-indicators{
      position: relative;
  
      button{
        @include altoAncho(17px, 27px);
        border-radius: 50%;
      }
  
      .boton0{
        background-color: map-get($randomColors , color1);
      }
  
      .boton1{
        background-color: map-get($randomColors , color2);
      }
  
      .boton2{
        background-color: map-get($randomColors , color3);
      }
  
      .boton3{
        background-color: map-get($randomColors , color4);
      }
  
      .boton4{
        background-color: map-get($randomColors , color5);
      }
  
      .boton5{
        background-color: map-get($randomColors , color6);
      }
  
      .boton6{
        background-color: map-get($randomColors , color7);
      }
    }
    .carousel-controls{
      position: absolute;
      left: 50%;
      bottom: 5px;
      z-index: 1;
      transform: translateX(-50%);
   }
  }
  