$size:(
    eliminar: none,
    cero: 0,
    medio: 0.5rem,
    uno: 1rem,
    dos: 2rem,
    tres: 3rem
);

$randomColors:(
    color1: aqua,
    color2: brown,
    color3: yellow,
    color4: violet,
    color5: purple,
    color6: red,
    color7: aquamarine,
    color8: indigo,
    color9: lightcoral,
    color10: chartreuse
)